* {
  padding: 0;
  margin: 0;
  color: #000000;
  /* font-family: "Roboto", Arial, Helvetica, sans-serif; */
  font-style: normal;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #FFFFFF;
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  overflow: hidden;
  overflow-x: hidden !important;
  overflow-y: scroll;
}

.candyshop {
  width: 100%;
  height: 2240px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  min-height: 100vh;
}







.headerblock {
  width: 100%;
  height: 150px;

  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  /* opacity: 1; */
  
  overflow: hidden;

  /* background-color: aqua; */
}

.header {
  position: relative;
  max-width: 1000px;
  height: 50px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  /* background-repeat: no-repeat;
  background-position: center center; */
  /* background-size: cover; */
  /* opacity: 1; */
  
  overflow: hidden;

  /* background-color: #bb9494; */
}

.logoblock {
 
  /* width: 214px;
  height: 50px; */
  
  display: flex;
  align-items: center;
  gap: 15px;

  /* background-color: #ff0000; */
}

.logo {
  width: 50px;
  height: 50px;
  
  /* background: url("../images/logo.png"); */
  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */

  /* background-color: #d31212; */
}

.shop {
  
  /* width: 149px;
  height: 50px; */
  
  color: #000000;
  
  /* margin-left: 15px;
  position: absolute;
  left: 65px;
  top: 0px; */
  /* opacity: 1; */
  
  display: flex;
  align-items: center;

  /* background-color: #610202; */
}

.h1-shop {
  font-family: Nunito;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  text-align: center;
}

.catalogANDsearchblock {
  gap: 50px;
  display: flex;
  align-items: center;
}

.catalog {
  /* width: 77px;
  height: 50px; */

  gap: 15px;
  display: flex;
  align-items: center;

  /* background-color: rgb(255, 222, 179); */
}

.rectangle {
  /* width: 12px;
  height: 6px; */
}

.p-catalog {
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;

  /* background-color: #f06060; */
}

.searchblock {
  width: 230px;
  height: 50px;
  opacity: 1;
  /* position: absolute;
  top: 0px;
  left: 770px; */
  /* overflow: hidden; */
  display: flex;
  align-items: center;

  /* background-color: aqua; */
}

.search {
  /* position: relative; */
  width: 230px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 137px;
  
  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden; */
  
  
  /* shadow */
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  background-color: #ffffff;
}

.searchText {
  /* position: absolute; */
  /* width: 47px;
  height: 36px; */
  /* left: 15px; */
  /* margin-left: 15px; */
  display: flex;
  align-items: center;

  /* background-color: #a04646; */
}

.p-search {
  color: #999999;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 16px;
  /* opacity: 1; */
  /* text-align: left; */

  /* background-color: #610202; */
}

.searchbutton {
  /* position: absolute; */
  /* top: 10px;
  left: 199px; */
  /* width: 16px;
  height: 16px; */
  /* margin-right: 15px; */
  background-color: rgb(255, 255, 255);
  /* color: #29abe2; */
  border: none;
  /* margin-left: 8px; */
  text-decoration: none;

  /* background-color: #000000; */
}

.searchbutton:active {
  border: none;
  text-decoration: none;
}

.searchbutton:hover {
  border: none;
  text-decoration: none;
}

.searchbutton:focus {
  border: none;
  text-decoration: none;
}







.header2 {
  width: 100%;
  height: 400px;
  background: linear-gradient(0deg, rgba(221, 3, 60, 0.75), rgba(221, 3, 60, 0.75)),
    url("../images/candy.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  
  /* position: absolute;
  top: 150px;
  left: 0px; */
  
  overflow: hidden;

}

.candyAdvertising {
  max-width: 1000px;
  height: 240px;

  margin: 80px auto;

  display: grid;
  align-items: center;
  gap: 50px;
  
  /* position: absolute;
  left: 220px;
  top: 80px; */

  /* background-color: #000000; */
}

.candyAdvert1 {
  /* width: 599px;
  height: 100px; */
  
  /* position: absolute;
  top: 0px; */
  

  display: flex;
  align-items: center;

  background: transparent;
  /* background-color: #0adca1; */
}

.h1-candyAdvert1 {
  
  /* position: relative; */
  
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 50px;
  text-align: left;
  color: #FFFFFF;
  line-height: 50px;

  background: transparent;
  /* background-color: #8e6eff; */
}

.candyAdvert2 {
  /* position: absolute;
  top: 150px; */
  
  /* width: 1000px;
  height: 90px; */
  
  display: flex;
  align-items: center;
}

.p-candyAdvert2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
}








.shopping-area {
  width: 100%;
  height: 1510px;
  
  /* position: absolute;
  top: 550px; */
  display: grid;
  justify-content: center;
  gap: 0px;


  
  background-color: #ee8080;
}

.bestseller-title-block {
  width: 1000px;
  height: 30px;
  /* color: rgba(0, 0, 0, 1); */
  
  margin-top: 80px;
  /* position: absolute;
  top: 80px;
  left: 220px; */


  background-color: #37aa96;
}

.p-bestseller-title-block {
  font-family: 'Nunito';
  font-weight: Bold;
  font-size: 30px;

  line-height: 30px;
  /* opacity: 1; */
  /* text-align: left; */

  /* background-color: aqua; */
}

.bestsellers {
  width: 1000px;
  height: 1270px;

  background-color: #000000;
}








.footer {
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2060px;
  left: 0px;
  overflow: hidden;

  background-color: #DD033C;
}

.links-1 {
  position: absolute;
  width: 88px;
  height: 80px;
  left: 220px;
  top: 50px;
  bottom: 50px;
  display: block;

  /* background-color: #000000; */
}

.links-1 p {
  margin-top: 0px;
  top: 0px;
  font-family: 'Nunito';
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  line-height: 20px;
}

.links-2 {
  position: absolute;
  width: 200px;
  height: 80px;
  left: 343px;
  top: 50px;
  bottom: 50px;
  display: block;

  /* background-color: #000000; */
}

.links-2 p {
  margin-top: 0px;
  color: #FFFFFF;
  top: 0px;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  line-height: 20px;
}

.icons {
  position: absolute;
  width: 115px;
  height: 40px;
  left: 1105px;
  top: 70px;

  /* background-color: #000000; */
}

.icon-1 {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 1;
  background: url("../images/vk.png");
}

.icon-2 {
  position: absolute;
  left: 75px;
  width: 40px;
  height: 40px;
  opacity: 1;
  background: url("../images/ista.png");
}